@model MinhasFinancas.Models.Receita

@{
    ViewData["Title"] = "Excluir Receita";
}

<h1 class="titulo-secundario titulo-fonte">Excluir Receita</h1>

<h4>Confirma a exclusão desse registro?</h4>

<hr />
<div class="row fonte-body">
    <div class="col-md-11">

        <div class="form-group">
            <label class="label-coluna">Descrição</label>
            <label class="col-sm-12 label-informacoes"> @Html.DisplayFor(model => model.Descricao) </label>
        </div>

        <div class="div-editar">
            <div class="form-group">
                <label class="label-coluna">Valor À Receber</label>
                <label class="col-sm-12 label-informacoes"> @Html.DisplayFor(model => model.ValorAReceber) </label>
            </div>
            <div class="form-group">
                <label class="label-coluna"> Valor Recebido </label>
                <label class="col-sm-12 label-informacoes"> @Html.DisplayFor(model => model.ValorRecebido) </label>
            </div>
            <div class="form-group">
                <label class="label-coluna"> Fonte de Receita </label>
                <label class="col-sm-12 label-informacoes"> @Html.DisplayFor(model => model.Pessoa.nome) </label>
            </div>
            <div class="form-group">
                <label class="label-coluna"> Forma de Pagamento </label>
                <label class="col-sm-12 label-informacoes"> @Html.DisplayFor(model => model.TipoReceita.Descricao) </label>
            </div>
        </div>

        <div class="div-editar">

            <div class="form-group">
                <label class="label-coluna">Forma de Recebimento</label>
                <label class="col-sm-12 label-informacoes"> @Html.DisplayFor(model => model.FormaRecebimento.Descricao) </label>
            </div>
            <div class="form-group">
                <label class="label-coluna">Status</label>
                <label class="col-sm-12 label-informacoes"> @Html.DisplayFor(model => model.StatusReceita.Descricao) </label>
            </div>
            <div class="form-group">
                <label class="label-coluna">Previsão de Recebimento</label>
                <label class="col-sm-12 label-informacoes"> @Html.DisplayFor(model => model.DataPrevistaRecebimento) </label>
            </div>
            <div class="form-group">
                <label class="label-coluna">Data de Recebimento</label>
                <label class="col-sm-12 label-informacoes">  @Html.DisplayFor(model => model.DataDeRecebimento) </label>
            </div>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger btn-cancelar" />
            <a asp-action="Index" type="button" class="btn btn-light btn-voltar">Voltar</a>
        </form>
    </div>
</div>