@model MinhasFinancas.Models.Investimentos.RendaVariavel.Acao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Acao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNegociacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNegociacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCorretagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCorretagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorISS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorISS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpresaListada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpresaListada.ID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMercado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMercado.ID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.nome)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimento.ID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
