@model MinhasFinancas.Models.Investimentos.RendaVariavel.Acao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Acao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNegociacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNegociacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCorretagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCorretagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorISS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorISS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpresaListada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpresaListada.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMercado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMercado.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimento.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
