@model MinhasFinancas.Models.Conta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaBancaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaBancaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoEmConta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoEmConta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoConta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoConta.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataUltimaAtualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataUltimaAtualizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.flagAtivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flagAtivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
